@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="gameSearchApp" ng-controller="gameSearchCtrl">
    <div class="page-header">
        <h1>
            Search
        </h1>
    </div>
    <div class="input-group">
    
        <input type="text" class="form-control" placeholder="Search text" style="width: 400px" ng-model="searchText" />
        <div class="input-group-btn" style="width: 0;">
            <button ng-click="search()" class="btn btn-default">Go!</button>
        </div>
    </div>
    <p>
        <div class="btn btn-primary" ng-click="prev()">
            <span class="glyphicon glyphicon-chevron-left"></span>prev
        </div>
        <div class="btn btn-primary" ng-click="next()">
            next
            <span class="glyphicon glyphicon-chevron-right"></span>
        </div>
        <img ng-show="isLoading" src="~/images/default.gif" style="height:20px" />

    </p>
    <div class="list-group">
        <div ng-show="!isLoading">
            <a class="list-group-item list-group-item-action" ng-repeat="result in viewmodel.SearchResults track by $index" ng-click="selectGame(result.GameId)">
                <h4 class="list-group-item-heading">
                    <span class="flag-sm flag-sm-{{result.EventCountry}}"></span> <strong>{{result.White}} vs. {{result.Black}}</strong> {{result.Result}}
                </h4>
                <p class="list-group-item-text">
                    <strong>{{result.Date}}</strong> {{result.Event}} ({{result.Site}}) - Round {{result.Round}}
                    <br/>
                    <span ng-class="{'label label-success' : result.AnalysisState == 'Done', 'label label-warning' : result.AnalysisState != 'Done'} " >{{result.AnalysisState == "Done" ? "Analyzed" : "Analysis Pending"}}</span>
                </p>
            </a>
            <a class="list-group-item list-group-item-action" ng-show="viewmodel.SearchResults.length == 0">
                <h4 class="list-group-item-heading">No results</h4>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/gameSearchApp.js"></script>
}
