@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="gameSearchApp" ng-controller="gameSearchCtrl">
    <div class="page-header">
        <h1>Search</h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="input-group">
                <span class="input-group-btn" style="width: 0;">
                    <button onclick="location.href='@Url.Action("Upload")'" class="btn btn-success"> <strong>+</strong></button>
                </span>
                <input type="text" class="form-control" placeholder="Search text" style="width: 400px" ng-model="searchText" />
                <div class="input-group-btn" style="width: 0;">
                    <button ng-click="search()" class="btn btn-default">Go!</button>
                </div>
            </div>
        </div>
    </div>
    <div style="height: 20px"></div>
    <p>
        <div class="btn btn-primary" ng-click="prev()">
            <span class="glyphicon glyphicon-chevron-left"></span>prev
        </div>
        <div class="btn btn-primary" ng-click="next()">next<span class="glyphicon glyphicon-chevron-right"></span></div>
    </p>
    <div class="list-group">
        <div ng-show="!isLoading">
            <a class="list-group-item list-group-item-action" ng-repeat="result in viewmodel.SearchResults track by $index" ng-click="selectGame(result.GameId)">
                <h5 class="list-group-item-heading">header</h5>
                <p class="list-group-item-text">
                    {{result.GameId}}
                </p>
            </a>
        </div>
        <div ng-show="isLoading">
            <img src="~/images/default.gif" width="64" />
        </div>
    </div>


</div>

@section Scripts {
    <script src="~/js/gameSearchApp.js"></script>
}
