@model AnalyzedGameViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div ng-app="boardApp" ng-controller="testCtrl">
    <div class="page-header">
        <h1>Board</h1>
    </div>
    <div class="row">
        <div class="col-xs-2 panel">
            <h3>Game</h3>
            <div style="width: 100px; height: 350px; overflow: auto; border: dimgray dashed thin">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th>Move</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="move in viewmodel.AnalyzedMoves track by $index">
                            <td ng-class="{'move-warning' : move.Category===1, 'move-danger' : move.Category===2, 'move-success' : move.Category===3}" ng-click="showMove($index)"><span>{{move.Description}}</span></td>
                        </tr>
                    </tbody>
                </table>


            </div>
            <div class="btn btn-primary" ng-click="prevMove()"><span class="glyphicon glyphicon-chevron-left"></span>prev</div>
            <div class="btn btn-primary" ng-click="nextMove()">next<span class="glyphicon glyphicon-chevron-right"></span></div>
        </div>
        <div class="col-xs-3 panel" style="width: 400px">
            <h3>{{boardHeader}}</h3>
            <div id="board"></div>
        </div>
      
    </div>

</div>

@section Scripts {
    <script>
        var cfg = {
            pieceTheme: 'chessboardjs-0.3.0/img/chesspieces/wikipedia/{piece}.png',
        };
        var board = ChessBoard('board', cfg);
        //--- end example JS ---
    </script>
    <script src="~/js/boardapp.js"></script>

}
