@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="movegenApp">
    <div ng-controller="testCtrl">
        {{helloWorld}}
    </div>
</div>

@section Scripts {
    <script src="~/js/movegen.js"></script>
}
