@model QueueViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div ng-app="adminQueueApp" ng-controller="adminQueueCtrl">
    <div class="page-header">
        <h1>
            Queue
        </h1>
    </div>

    <table class="table-condensed table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Data</th>
                <th>...</th>
                <th>Info</th>
                <th>Error</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in viewmodel.QueueItems track by $index">
                <td>{{item.Id}}</td>
                <td>
                    <div><span class="label label-default">{{item.QType}}</span> type<br /></div>
                    <div><span class="label label-default">{{item.QState}}</span> state<br /></div>
                    <div><span class="label label-primary">{{item.Reference}}</span> ref<br /></div>
                </td>
                <td>
                    <div ng-show="{{item.CreatedAtDate}}"><span class="label label-default">{{item.CreatedAtDate}}</span> created<br /></div>
                    <div ng-show="{{item.ProcessingAtDate}}"><span class="label label-default">{{item.ProcessingAtDate}}</span> processing<br /></div>
                    <div ng-show="{{item.ModifiedAtDate}}"><span class="label label-default">{{item.ModifiedAtDate}}</span> modified<br /></div>
                </td>
                <td>
                    <pre ng-show="{{item.Info}}">{{item.Info}}</pre>
                </td>
                <td>
                    <pre ng-show="{{item.Error}}">{{item.Error}}</pre>
                </td>
                <td>
                    <button class="btn btn-default" ng-click="start(item)"><div class="glyphicon glyphicon-play"></div></button>
                    <button class="btn btn-default" ng-click="cancel(item)"><div class="glyphicon glyphicon-stop"></div></button>
                    <button class="btn btn-danger" ng-click="error(item)"><div class="glyphicon glyphicon-remove"></div></button>
                </td>

            </tr>
        </tbody>

    </table>

</div>

@section Scripts {
    <script src="~/js/adminQueueApp.js"></script>
}
