body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

.move-danger {
    background-color: #f66;
    color: #600;
    font-weight: bold;
}

.move-success {
    background-color: #6f6;
    color: #060;
    font-weight: bold;
}

.move-warning {
    background-color: #ff6;
    color: #660;
    font-weight: bold;
}